body{
    background: linear-gradient(to bottom right, #FFE5D6, #FFD6F6);
}

p{
    color:#E8CBC3;
    font-weight: bold;
}

i{
    background-color: gray;
    border-radius: 200%;
}

i:hover{
    cursor:pointer;
    background-color: yellow;
    box-shadow: 0 0 5px yellow,
                0 0 25px yellow,
                0 0 50px yellow,
                0 0 25px yellow;
    /*filter: drop-shadow(0 0 5px yellow)
            drop-shadow(0 0 25px yellow)
            drop-shadow(0 0 50px yellow)
            drop-shadow(0 0 25px yellow);*/
}

#up:active{
    transform:translateY(-4px);
}

#down:active{
    transform:translateY(4px);
}

#left:active{
    transform:translateX(-4px);
}

#right:active{
    transform:translateX(4px);
}

#undo{
    color:#050801 ;
}